[submodule "ns2-simulations"]
	path = ns2-simulations
	url = https://github.com/lavanyaj/ns2-simulations.git
[submodule "waterfilling"]
	path = waterfilling
	url = https://github.com/lavanyaj/waterfilling.git
[submodule "numerical-simulations"]
	path = numerical-simulations
	url = https://github.com/lavanyaj/numerical-simulations.git
[submodule "libmoon-perc"]
	path = libmoon-perc
	url = https://github.com/sibanez12/libmoon-perc.git
[submodule "P4-NetFPGA-PERC"]
	path = P4-NetFPGA-PERC
	url = https://github.com/sibanez12/P4-NetFPGA-PERC.git
[submodule "perc-p4"]
	path = perc-p4
	url = https://github.com/sibanez12/perc-p4.git
